/* To center the main on the page using flexbox, add min-height:100vh and 
align-items center to the body and remove the margin value in the main.

For a responsive content which won't require a media query for this challenge, 
replace the percentage width value of the main with fixed max-width value. e.g: max-width: 25rem */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

main {
    min-height:100vh;
    width: 90%;
    padding: 4% 6% 2% 6%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 4%;
}

.image-container {
    position: relative;
}

.main-img {
    width: 100%;
    border-radius: 4%;
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: hsl(178, 100%, 50%);
    border-radius: 4%;
    
}
 
  .view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .image-container:hover .overlay:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
.first-container {
    padding: 4% 0;
}

.description {
    padding: 4% 0;
}

h1 {
    padding-bottom: 4%;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
}

h1:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}

p {
    color: hsl(215, 32%, 27%);
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 4% 0 6% 0;
}

.details-content {
    display: flex;
    width: 100%;

}

.details-content2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}


.price {
    color: hsl(178, 100%, 50%);
    
}

.days {
    color: hsl(215, 51%, 70%);
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 7% 0 0 0;
}

.img-profile {
    width: 13%;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    border-width: 0.1rem;
    
}

.text-profile {
    width: 100%;
    padding-left: 7%;
    color: hsl(215, 51%, 70%);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    cursor: pointer;
    color:hsl(178, 100%, 50%);
}

hr {
    border-top: 0.1rem solid hsl(215, 32%, 27%);
}

@media (min-width: 960px) {

    body {
        margin-top: 6%;
    }

    main {
        width: 20%;
        margin-top: 0;
        padding: 1%;
    }
}